<div class="navbar">
  <a href="/"><img src="/images/logo/circuit_logo_full.svg" alt="Circuit Logo"></a>
  <a href="/login"><button class="primaryOutline loginRedirect">LOG IN</button></a>
</div>



  {{!-- Bootstrap carousel --}}
  <div id="gifCarousel" class="carousel" data-ride="carousel" data-interval="2800" style="height: 500px; width: 100%; margin: 0 auto">
    <div class="carousel-inner" style="height: 500px; width: 100%; margin: 0 auto">
      <div class="carousel-item active gif">
        <img class="d-block w-100" src="/images/gif/excited1.gif" alt="First slide">
      </div>
      <div class="carousel-item">
        <img class="d-block w-100" src="/images/gif/excited2.gif" alt="Second slide">
      </div>
      <div class="carousel-item">
        <img class="d-block w-100" src="/images/gif/excited3.gif" alt="Second slide">
      </div>
    </div>
  </div>


<div class="container-fluid">

<div class="header row">
  <div class="covertext row">
    <div class="col-lg-10">
      <h1 class="title">Workouts that feel like...</h1>
    </div>
    <div class="col-xs-12 headerButton">
      <a href="/signup"><button type="button" class="primaryFillLarge signupRedirect">Sign Up</button></a>
    </div>
  </div>
</div>

<div class="sectionOneIcons row">
  <div class="sectionHeader">
    <h2>Circuit training is awesome.</h2>
  </div>
  <div class="rowOfThreeIcons row">
    <div class="iconContainer col">
      <img src="/images/icon/muscle_icon.svg" alt="Hand lifting dumbell icon">
      <h4>BUILD MUSCLE</h4>
      <p>Body weight or weighted exercises help build lean muscle mass while buring fat.</p>
    </div>
    <div class="iconContainer col">
      <img src="/images/icon/endurance_icon.svg" alt="Hand lifting dumbell icon">
      <h4>BUILD ENDURANCE</h4>
      <p>Moving from one high intensity exercise to the next increases your cardio endurance.</p>
    </div>
    <div class="iconContainer col">
      <img src="/images/icon/time_icon.svg" alt="Hand lifting dumbell icon">
      <h4>SAVE TIME</h4>
      <p>20-30 minutes on average is all it takes to complete an awesome circuit training session.</p>
    </div>
  </div>
</div>

</div> {{!-- Close container-fluid --}}


<div class="sectionTwoFaq">
  <div class="sectionHeader">
    <h2>FAQ</h2>
  </div>
  <div class="faqContent">

    <div class="question">
      <h4>What the heck is circuit training?</h4>
      <p>It's an awesome workout where you cycle through various exercises without any rest in between, then you take a short rest after each circuit before doing it all over again for several sets. The rests trick you into thinking you're getting a break, but don't be fooled, circuit training is an intense workout.</p>
    </div>

    <div class="question">
      <h4>Is Circuit right for me?</h4>
      <p>Do you love working out? Do you hate being lazy? Do you love being lazy, but know you shouldn’t be? Circuit is what you’ve been looking for. Quick, intense workouts that will kick your butt into shape. Because we all need a little butt kicking every now and again.</p>
    </div>

    <div class="question">
      <h4>Do I need special equipment?</h4>
      <p>No. Ain’t nobody got money for that. You know how getting out of bed can be hard sometimes? That’s because our bodies ARE a weight (and sleep is good). It’s called bodyweight (clever), and that’s all you need to get started with Circuit. If you have weights and want to add them to your Circuit, great. Otherwise you could always pick up a sack of rocks or a keg or a small child, whatever is at your disposal.</p>
    </div>

    <div class="question">
      <h4>Are Circuit workouts fun?</h4>
      <p>Unless you are somebody that enjoys <s>torture</s> working out, not really. The great thing about Circuit is that you are in control. Make your workout as easy or as hard as you want. Too easy? Shorten your rest periods, add weight, or increase reps on your next Circuit. Too hard? You might throw up... just being honest.</p>
    </div>

    <div class="question">
      <h4>Should I sign up?</h4>
      <p>Yes. Real talk, working out is a struggle for most people, but everyone needs to do it. The hardest part is finding time and knowing what to do. Circuit helps you create simple circuits that will save you time. All it takes is 20-30 minutes a few times a week to stay healthy and fit. Really.</p>
    </div>
  </div>
</div> {{!-- close section div  --}}


<div class="sectionThreeSteps">
  <div class="sectionHeader">
    <h2>How it works.</h2>
  </div>
<div class="container">
  <div class="row steps">
  <div class="textLeft col-md-4">
    <h3>SIGN UP</h3>
    <p>It’s free and fast!</p>

    <h3>CREATE CIRCUITS</h3>
    <p>Choose your exercises, reps, sets, rest time, and weight to create the perfect circuit, just for you.</p>

    <h3>GET FIT</h3>
    <p>No gym memberships or fancy equipment required. Just go outside (or inside if that’s your thing), and circuit!</p>
  </div>
  <div class="imageRight col-md-4 col-md-offset-2">
    <img src="/images/one-arm-push-up_925x.jpg" alt="Screenshot of Circuit creation page">
  </div>
  </div>
</div>
</div>

<div class="container-fluid">
<div class="sectionFourCTA row">
  <div class="sectionHeader">
    <h2>What are you waiting for? Nothing, absolutely nothing. So stop being lazy and sign up for Circuit today.</h2>
  </div>
  <a href="/signup"><button class="primaryFillLarge signupRedirect">Sign Up</button></a>
</div>
</div>