<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <script
  src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src='https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js'></script>
    <script src='/javascripts/script.js'></script>
    <link rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css'>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>

    {{{body}}}

    <div class="footer container-fluid">
      <hr>
      <div class="footerContent row justify-content-between">
        <img src="/images/logo/circuit_logo_full.svg" alt="Circuit Logo">
        <div class="withLove">
          <h4>Made with</h4><img src="/images/icon/heart_icon.svg" alt="Heart icon"><h4>by Eleyni</h4>
        </div>
      </div>
    </div>
  </body>
</html>
