<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>

    {{{body}}}

    <div class="footer">
      <hr>
      <div class="footerContent">
        <img src="/images/logo/circuit_logo_full.svg" alt="Circuit Logo">
        <div class="withLove">
          <h4>Made with</h4><img src="/images/icon/heart_icon.svg" alt="Heart icon"><h4>by Eleyni</h4>
        </div>
      </div>
    </div>

    <script src='/javascripts/script.js'></script>
  </body>
</html>
