<div class="navbar">
  <a href="/"><img src="/images/logo/circuit_logo_full.svg" alt="Circuit Logo"></a>
  <h4>HI, {{user.firstname}}</h4>
</div>

<div class="container-fluid">

  <div class="row headerRow">
    <div class="sectionHeader">
      <h2>Circuit Details</h2>
    </div>
  </div>

  <form action="/finish-create/{{circuit._id}}" id="new-circuit-form" class="circuit-form" method="post">
    <div class="row question">
      <h4>How many reps of each exercise?</h4>
    </div>
{{#each excercises }}
    <div class="exerciseSelected">
      <img src="{{this.imageURL}}" alt="Exercise illustration.">
      <input type="number" class="exerciseReps" name="exerciseReps" placeholder="# of reps"> <h4>{{this.name}}</h4>
      <input type="number" class="exerciseWeight" name="exerciseWeight" placeholder="lbs"> <p>lbs (optional)</p>
    </div>
    <hr>
{{/each }}
    <div class="row question">
      <h4>How many sets do you want to complete?</h4>
      <input type="number" class="numberOfSets" name="numberOfSets" placeholder="# of sets">
    </div>

    <div class="row question">
      <h4>How much rest time do you want between sets?</h4>
      <input type="number" class="restTime" name="restTime" placeholder="seconds"> <p>seconds</p>
    </div>

    <button id="create-circuit" class="primaryFill" type="submit">SAVE CIRCUIT</button>
  </form>






</div> {{!-- Close container-fluid --}}