<div class="navbar">
  <a href="/"><img src="/images/logo/circuit_logo_full.svg" alt="Circuit Logo"></a>
  <div class="navRight">
    <h4>HI, {{user.firstname}}</h4>
    <a href="/logout"><img src="/images/icon/logout.svg" alt="Logout"></a>
  </div>
</div>

<div class="container-fluid">

  <div class="row headerRow justify-content-start" id="pickHeaderContainer">
    <div class="sectionHeader" id="pickExercisesHeader">
      <h2>Pick Your Exercises</h2>
    </div>
    <div class="nextContainer">
      <h4 class="numberOfExercises" style="color:#FF3030;"> </h4><h4>EXERCISES ADDED</h4>
      {{!-- <a href="/circuit/create"></a> --}}
      <button class="primaryFill next" id="nextButton">NEXT</button>
    </div>
  </div>

  {{!-- <div class="row category">
    <h3>FULL BODY</h3>
  </div> --}}

  <div class="row fullExercises">
    {{#each exercise}}
      <div class="card row exerciseContainer col-md-3">
        <img class="card-img-top" src="{{this.imageURL}}" alt="Card image cap">
        <div class="card-body circuitInfo row">
          <h4 class="card-text">{{this.name}}</h4>
        </div>
        <input id="exerciseId" type="hidden" name="id" value="{{this._id}}">
      </div>
    {{/each}}
  </div>

</div>
<form action="/circuit/create" id="selectExercisesForm" method="post">
</form>

  {{!-- <div class="row category">
    <h3>LOWER BODY</h3>
  </div>
  <div class="row fullExercises">
    
  </div>

  <div class="row category">
    <h3>UPPER BODY</h3>
  </div>
  <div class="row fullExercises">
    
  </div> --}}