<body bgcolor="#F7F7F7">


<nav class="navbar">
  <a class="navbar-brand" href="/">
    <img src="/images/logo/circuit_logo_full.svg" alt="Circuit Logo">
  </a>
  <div class="navbar-right">
    <a href="/signup"><button class="primaryOutline">SIGN UP</button></a>
  </div>
</nav>


<div class="sectionHeader row">
  <h2>Welcome back. We missed you!</h2>
</div>

<div class="signupContainer container row col-sm-auto">
  
  <form action="/login" method="POST" class="form-container col-sm-5">

    {{#if message}}
      <div class="error-message" id="error-message">{{ message }}</div>
    {{/if}}

    <div class="emailRow formRow col form-group">
      <label for="email">Email</label>
      <input class="form-control" id="email" type="text" name="email" placeholder="e.g., ilovecircuits@email.com">
    </div>

    <div class="passwordRow formRow col form-group">
      <label for="password">Password</label>
      <input class="form-control" id="password" type="password" name="password" placeholder="Create a strong password">
    </div>

    <button class="primaryFill signup col" id="loginButton">Log In</button>

    {{!-- <p>Forgot your password? It happens.<a href="#"> Reset it.</a></p> --}}

    <p>Don't have an account yet? <a href="/signup">Sign up now!</a></p>
    {{!-- <p>By clicking the sign up button you agree to the <a href="#">Terms of Service</a> and <a href="#">Privacy Policy</a>.</p> --}}
  </form>


</div>


</body>