//////////////////////////////////////////////////////////////////////////// Colors for reference
// #D9FF00 = bright green
// #FF3030 = red
// #141E14 = dk grey
// #666666 = md grey
// #BBBBBB = grey for lines
// #F7F7F7 = lt grey
// #FFFFFF = white
// #1B46FF = link blue



//////////////////////////////////////////////////////////////////////////// General CSS
body {
  font: 14px Avenir Next;
  margin: 0;
}

h1 {
  font-size: 72px;
  font-weight: 700;
}

h2 {
  font-size: 36px;
  font-weight: 700;
}

h3 {
  font-size: 30px;
  font-weight: 700;
}

h4 {
  font-size: 24px;
  font-weight: 700;
}

p {
  font-size: 18px;
  font-weight: 500;
}

a {
  color: #1B46FF;
  outline: none !important;
}

button {
  outline: none !important;
}

a:focus {
  outline: none !important;
}

.sectionHeader {
  text-align: center;
  justify-content: center;
  padding-top: 60px;
  padding-bottom: 60px;
}

.error-message {
  background: #FF3030;
  box-sizing: border-box;
  color: #FFFFFF;
  margin-bottom: 30px;
  padding: 20px;
  width: 100%;
}

.container-fluid {
  padding-left: 60px;
  padding-right: 60px;
}

.row {
  margin-left: 0;
  margin-right: 0;
  // justify-content: center;
}



//////////////////////////////////////////////////////////////////////////// Button CSS
.primaryOutline {
  border: 2px solid #D9FF00;
  background-color: Transparent;
  color: #D9FF00;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 5px;
  padding-bottom: 6px;
  font-weight: 700;
  font-size: 14px;
}

.primaryOutline:hover {
  border: 2px solid #D9FF00;
  background-color: #D9FF00;
  color: #141E14;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 5px;
  padding-bottom: 6px;
  font-weight: 700;
  font-size: 14px;
}

.primaryFill {
  border: 2px solid #D9FF00;
  background-color: #D9FF00;
  color: #141E14;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 5px;
  padding-bottom: 6px;
  font-weight: 700;
  font-size: 14px;
}

.primaryFill:hover {
  border: 2px solid #141E14;
  background-color: #D9FF00;
  color: #141E14;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 5px;
  padding-bottom: 6px;
  font-weight: 700;
  font-size: 14px;
}

.primaryFillLarge {
  border: 2px solid #D9FF00;
  background-color: #D9FF00;
  color: #141E14;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 15px;
  padding-bottom: 15px;
  font-weight: 700;
  font-size: 24px;
}

.primaryFillLarge:hover {
  border: 2px solid #141E14;
  background-color: #D9FF00;
  color: #141E14;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 15px;
  padding-bottom: 15px;
  font-weight: 700;
  font-size: 24px;
}

.delete {
  border: 2px solid #FF3030;
  background-color: #FF3030;
  color: #FFFFFF;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 5px;
  padding-bottom: 6px;
  font-weight: 700;
  font-size: 14px;
}

.delete:hover {
  border: 2px solid #141E14;
  background-color: #FF3030;
  color: #FFF;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 5px;
  padding-bottom: 6px;
  font-weight: 700;
  font-size: 14px;
}



//////////////////////////////////////////////////////////////////////////// Top Nav CSS
.navbar {
  background-color: #141E14;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 60px;
  padding-right: 60px;
  display: flex;
  // justify-content: space-between;
  align-items: center;
}

.navbar h4 {
  color: #D9FF00;
  text-transform: uppercase;
  margin: 0;
}

.navbar p {
  color: #D9FF00;
  text-transform: uppercase;
  margin: 0;
}

.navbar a:hover {
  text-decoration: none;
}

.navRight {
  display: flex;
}

.navRight img {
  margin-left: 25px;
  height: 25px;
}



//////////////////////////////////////////////////////////////////////////// Footer CSS
.footer {
  // position: absolute;
  // bottom: 0;
  width: 100%;
  height: 60px; 
  margin-top: 100px;
}

.footer hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #D9FF00;
  padding: 0;
}

.footerContent {
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  align-items: center;
  margin-top: 30px;
  margin-bottom: 30px;
  // margin-left: 60px;
  // margin-right: 60px;
}

.footerContent h4 {
  margin: 0 0 0 0;
  font-size: 18px;
  font-weight: 700;
}

.withLove {
  display: flex;
}

.withLove img {
  margin-left: 5px;
  margin-right: 5px;
}



//////////////////////////////////////////////////////////////////////////// Landing Page CSS
.carousel-item {
  height: 500px;
  align-items: center;
}

.carousel-item img { 
  max-width: 100%; 
  top: 10;  
  bottom: 10;  
  left: 0;  
  right: 0;  
  margin: auto;
  opacity: .9;
  background: rgba(0, 0, 0, 0.5);
}

#gifCarousel {
  z-index: -1;
  position: absolute; 
}

.header {
  height: 500px;
  display: flex;
  color: #D9FF00;
  justify-content: center;
}

.covertext {
  padding-top: 60px;
  padding-bottom: 60px;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.sectionOneIcons {
  justify-content: center;
}

.rowOfThreeIcons {
  justify-content: space-evenly;
  align-items: baseline;
  text-align: center;
}

.rowOfThreeIcons h4 {
  color: #FF3030;
}

.iconContainer {
  margin-left: 15px;
  margin-right: 15px;
}

.sectionTwoFaq {
  background-color: #F7F7F7;
  padding-left: 60px;
  padding-right: 60px;
  margin-top: 60px;
  padding-bottom: 60px;
  justify-content: center;
}

.faqContent {
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
}

.question {
  margin-bottom: 30px;
  width: 70%
}

.sectionThreeSteps {
  background-color: #141E14;
  padding-bottom: 60px;
  justify-content: space-evenly;
  align-items: center;
}

.sectionThreeSteps h2 {
  color: #FFFFFF
}

.sectionThreeSteps h3 {
  color: #D9FF00;
}

.sectionThreeSteps p {
  color: #FFFFFF
}

.steps {
  align-items: center;
  justify-content: space-evenly;
}

.textLeft {
  padding: 0 0;
}

.imageRight {
  padding: 0 0 ;
}

.imageRight img {
  width: 350px;
}

.container {
  padding-left: 0;
  padding-right: 0;
}

.sectionFourCTA {
  justify-content: center;
}



//////////////////////////////////////////////////////////////////////////// Sign Up and Login Page CSS
.signupContainer {
  justify-content: center;
}

.form-container label {
  font-size: 18px;
  font-weight: 700;
  display: block;
}

.form-container input {
  height: 40px;
  border: 1px solid #BBBBBB;
  border-radius: 0;
  color: #141E14;
  font-size: 14px;
  font-weight: 300;
  padding-left: 15px;
}

.form-container p {
  font-size: 14px;
  color: #BBBBBB;
  font-weight: 300;
  margin: 0 0;
  text-align: center;
}

.form-container button {
  margin-top: 30px;
  margin-bottom: 15px;
  height: 40px;
}

.formRow {
  margin-bottom: 30px;
}

.col {
  padding: 0 0;
}

form {
  border: 1px solid #BBBBBB;
  border-radius: 0;
  color: #141E14;
  padding: 60px 60px 60px 60px !important;
}



//////////////////////////////////////////////////////////////////////////// Select Exercises Page CSS
#pickExercisesHeader {
  text-align: left;
  margin-right: 30px;
}

.nextContainer {
  padding-left: 0;
  padding-right: 0;
  border: 2px solid #141E14;
  border-radius: 0;
  display: flex;
  align-items: center;
  padding: 20px 20px; 
}

#pickHeaderContainer {
  justify-content: space-between !important;
}

.nextContainer h4 {
  margin-top: 0;
  margin-bottom: 0;
  margin-right: 20px;
}

.fullExercises {
  justify-content: flex-start;
}

.exerciseContainer {
  cursor: pointer;
  border: 2px solid #141E14;
  border-radius: 0;
  padding: 10px 10px;
  justify-content: center;
  align-items: center;
  margin: 5px 5px;
}

.exerciseContainer h4 {
  text-transform: uppercase;
} 

.exerciseContainer img {
  width: 100%;
}

.selected { 
  border: 2px solid #FF3030;
}

#selectExercisesForm {
  border: none;
}

#deleteContainer {
  border: none;
  padding: 0 0 !important;
}

.circuitInfo {
  align-items: center;
}



//////////////////////////////////////////////////////////////////////////// Create CSS
.createCircuitContainer {
  justify-content: center;
}

.exerciseSelected img {
  width: 200px;
}

.exerciseSelected h4 {
  text-transform: uppercase;
}

.circuit-form input {
  margin-left: 20px;
  border: 2px solid #141E14;
  border-radius: 0;
  color: #141E14;
  font-size: 14px;
  font-weight: 300;
  padding-left: 15px;
  height: 40px;
}

.nameOfCircuit {
  width: 40%;
}

hr {
  height: 1px;
  border: 0;
  border-top: 1px solid #141E14;
  padding: 0;
}


//////////////////////////////////////////////////////////////////////////// Dashboard Page CSS
.circuitContainer {
  padding-left: 0;
  padding-right: 0;
  border: 2px solid #141E14;
  border-radius: 0;
  margin-bottom: 30px;
}

.headerRow {
  align-items: center;
  justify-content: flex-start;
}

#myCircuitsHeader {
  text-align: left;
  margin-right: 30px;
}

.circuitContainerTitle {
  background-color: #141E14;
  border-radius: 0;
  color: #D9FF00;
  text-transform: uppercase;
}

.circuitContainerTitle a {
  color: #D9FF00;
}

.edit {
  margin-right: 20px;
}



//////////////////////////////////////////////////////////////////////////// Preview Page CSS

.circuitTitle {
  text-transform: uppercase;
}
