body {
  font: 14px Avenir Next;
  margin: 0; }

h1 {
  font-size: 72px;
  font-weight: 700; }

h2 {
  font-size: 36px;
  font-weight: 700; }

h3 {
  font-size: 30px;
  font-weight: 700; }

h4 {
  font-size: 24px;
  font-weight: 700; }

p {
  font-size: 18px;
  font-weight: 500; }

a {
  color: #1B46FF; }

.sectionHeader {
  text-align: center;
  justify-content: center; }

.error-message {
  background: #FF3030;
  box-sizing: border-box;
  color: #FFFFFF;
  margin-bottom: 30px;
  padding: 20px;
  width: 100%; }

.primaryOutline {
  border: 2px solid #D9FF00;
  background-color: Transparent;
  color: #D9FF00;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 5px;
  padding-bottom: 6px;
  font-weight: 700;
  font-size: 14px; }

.primaryOutline:hover {
  border: 2px solid #D9FF00;
  background-color: #D9FF00;
  color: #141E14;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 5px;
  padding-bottom: 6px;
  font-weight: 700;
  font-size: 14px; }

.primaryFill {
  border: 2px solid #D9FF00;
  background-color: #D9FF00;
  color: #141E14;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 5px;
  padding-bottom: 6px;
  font-weight: 700;
  font-size: 14px; }

.primaryFill:hover {
  border: 2px solid #141E14;
  background-color: #D9FF00;
  color: #141E14;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 5px;
  padding-bottom: 6px;
  font-weight: 700;
  font-size: 14px; }

.primaryFillLarge {
  border: 2px solid #D9FF00;
  background-color: #D9FF00;
  color: #141E14;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 15px;
  padding-bottom: 15px;
  font-weight: 700;
  font-size: 24px; }

.primaryFillLarge:hover {
  border: 2px solid #141E14;
  background-color: #D9FF00;
  color: #141E14;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 15px;
  padding-bottom: 15px;
  font-weight: 700;
  font-size: 24px; }

.navbar {
  background-color: #141E14;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 60px;
  padding-right: 60px;
  display: flex;
  justify-content: space-between; }

.footer {
  width: 100%;
  height: 60px;
  margin-top: 100px; }

.footer hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #D9FF00;
  padding: 0;
  width: 90%; }

.footerContent {
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  align-items: center;
  margin-top: 30px;
  margin-bottom: 30px;
  margin-left: 60px;
  margin-right: 60px; }

.footerContent h4 {
  margin: 0 0 0 0;
  font-size: 18px;
  font-weight: 700; }

.withLove {
  display: flex; }

.withLove img {
  margin-left: 5px;
  margin-right: 5px; }

.carousel-item {
  height: 500px;
  align-items: center; }

.carousel-item img {
  max-width: 100%;
  position: absolute;
  top: 10;
  bottom: 10;
  left: 0;
  right: 0;
  margin: auto; }

.signupContainer h2 {
  margin-top: 60px;
  margin-bottom: 60px; }

.form-container {
  border: 1px solid #BBBBBB;
  background-color: #FFFFFF;
  margin: 0 auto;
  width: 50%;
  justify-content: center;
  align-items: center;
  padding: 60px 60px; }

.form-container label {
  font-size: 18px;
  font-weight: 700;
  display: block; }

.form-container input {
  height: 40px;
  width: 300px;
  border: 1px solid #BBBBBB;
  color: #141E14;
  font-size: 14px;
  font-weight: 300;
  padding-left: 15px; }

.form-container p {
  font-size: 14px;
  color: #BBBBBB;
  font-weight: 300;
  margin: 0 0; }

.form-container button {
  margin-top: 30px;
  margin-bottom: 15px; }

.formRow {
  margin-bottom: 30px; }

/*# sourceMappingURL=style.css.map */